body {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-family: LexendDeca-Light, sans-serif;
    font-size: 115%;
}

* {
    min-width: 0;
}

#toc {
    position: fixed;
    right: 0;
    top: 0;
    max-height: 50px;
    overflow-y: scroll;
    background-color: #111;
    border: 1px solid #fae;
    padding-right: 10px;
    transition: max-height 0.2s;
}

#toc:hover, #toc:focus, #toc:active {
    right: 0;
    max-height: 100%;
}

#toc-title {
    padding-top: 7px;
    padding-left: 50px;
}

#main-content {
    background-color: #111;
    max-width: 1000px;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: auto;
    border: 1px solid #fae;
}

.item-title {
    display: inline-block;
    margin-left: 60px;
    margin-right: auto;
    max-width: fit-content;
}

.error {
    color: #f31;
    border: 1px solid red;
    text-align: center;
}

.image-container {
    text-align: center;
}

i {
    /* I declare `i` to mean "invisible" rather than "italics" */
    position: absolute;
    opacity: 0;
    user-select: none;
}

.no-select {
    user-select: none;
}

code {
    color: #3b9;
    background-color: black;
}

h1 {
    color: #ffc114;
    text-align: center;
    font-size: 133%;
}

h2 {
    /* color: #ffd802; */
    color: #ffb104;
    font-size: 100%;
}

h3 {
    color: #ffb104;
    font-size: 95%;
}

h4 {
    color: #ff8a06;
    font-size: 95%;
}

h5 {
    color: #ff6309;
    font-size: 90%;
}

strong, dfn {
	font-weight: 700;
	color: #6b2;
}
em, dfn {
	font-style: italic;
    font-weight: 400;
    color: #EE4400
}

a {
    font-weight: 500;
    color: #EE1155;
    text-decoration: none;
}
a:link, a:visited, a:hover {
    text-decoration: none;
}
a:hover {
    font-weight: 500;
    text-shadow: 0 0 8px #ee1155;
    color: #FF2255;
}

blockquote {
    border-color: #E59400aa;
    background-color: #1a1a1a;
    color: #ecc;
}
